@import 'colors';

.campaigns-component {
  width: 100%;

  &__filter-container {
    width: 100%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    margin-top: 16px;
  }

  &__add-button {
    position: fixed;
    bottom: 36px;
    right: 36px;
  }
}
